<% if @current_user %>
<h2>Most Recent Posts</h2>
<% while @i < 10 && @last_post > 0 %>
<li><a href="/post/<%= @last_post %>"><%= Post.find(@last_post).title %></a></li>
<% @i = @i + 1 %>
<% @last_post = @last_post - 1 %>
<% end %>
<% else %>
<div id="signupForm">
<h2>Welcome to WineCan!</h2>
<h3>Sign up</h3>
<form method="POST" action="/newuser">
	<label for="email">Email</label><br />
	<input type="email" name="email"><br />
	<label for="username">Username</label><br />
	<input type="text" name="username"><br />
	<label for="password">Password</label><br />
	<input type="password" name="password"><br />
	<h4>Tell us about yourself!</h4>
	<label for="hometown">Hometown</label><br />
	<input type="text" name="hometown"><br />
	<label for="bio">Bio</label><br />
	<textarea name="bio"></textarea><br />
	<h4>Pick an Avatar!</h4>
	<img src="images/wine5.JPG" class="avatarPics" />
	<input type="radio" name="avatar_id" value=1>
	<img src="images/wine6.jpg" class="avatarPics" />
	<input type="radio" name="avatar_id" value=2>
	<img src="images/wine7.jpg" class="avatarPics" />
	<input type="radio" name="avatar_id" value=3>
	<img src="images/wine9.png" class="avatarPics" />
	<input type="radio" name="avatar_id" value=4>
	<img src="images/wine10.png" class="avatarPics" />
	<input type="radio" name="avatar_id" value=5>
	<br /><br />
	<input type="submit">
	</form>
</div>
<div id="homeWine">
<img src="images/wine2.png" id="homePic" />
</div>
<% end %>