/*in header:*/
a:hover {
	cursor: url('/images/Corkscrew.png'), auto;
}
#taglineText, #home a:link, a:visited {
	text-decoration: none;
	color: #800028;
	font-family: 'Quicksand', sans-serif;
}

#home a:hover {
	text-decoration: underline;
	color: #660020;
	font-family: 'Quicksand', sans-serif;
}

#searchDiv {
	text-align: center;
	font-size: 22px;
}

#searchSubmit {
	margin-top: 3px;
    background-image: url(/images/winesearch.png);
    height: 30px;
    width: 30px;
    border-bottom: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    background-color: transparent;
    display: inline-block;
    color: transparent;
}

#signinForm {
	text-align: right;
}

#signinForm label {
	font-family: 'Jura', sans-serif;
	font-size: 18px;
	color: #800028;
}

header {
	border-bottom: 3px solid #808080;
	background-color: rgba(255, 230, 230, 0.3);
}

#headerUsername {
	text-align: right;
}

#user_control {
	text-align: left;
}

h3.marker {
	margin-bottom: 1px;
}

#user_control, #user_control a:link, a:visited {
	text-decoration: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	color: #800028;
}

#newPost:hover, #user_control a:hover {
	text-decoration: underline;
	color: #660020;
}
/*end of header*/

/*for all input sections of forms:*/
input {
	background: transparent;
	border: none;
	border-bottom: 1px solid #800028;
}

input[type=submit], #exitButton {
	border: 1px solid #808080;
	border-radius: 30px;
	margin-top: 3px;
	background-color: white;
}

.hidden {
	display: none;
}
/*end of form input styling*/

/*in home (when user isn't logged in):*/
#signupForm #welcome {
	font-family: 'Quicksand', sans-serif;
}

#welcome {
	color: #800028;
}

.marker {
	font-family: 'Permanent Marker', cursive;
}

#signupForm label {
	font-family: 'Jura', sans-serif;
	font-size: 18px;
}

#signupForm, #homeWine {
	float: left;
}

#signupForm {
	margin-left: 100px;
}

#homePic {
	height: 420px;
	margin-left: 110px;
	margin-top: 40px;
}

/*for choosing avatars:*/
img.avatarPics {
	height: 60px;
	width: 60px;
}

.avGroup {
	display: inline-block;
  	text-align: center;
}

.avGroup label {
	display: block;
}
/*end of avatars*/
/*end of home (user not logged in)*/

/*in home (when user IS logged in):*/
/*in new post modal:*/
#postNew.off {
	display: none;
}

#postNew.on {
	width: 400px;
	height: 340px;
	padding-top: 10px;
	padding-bottom: 30px;
	font-size: 22px;
	text-align: center;
	border: 2px solid #808080;
	border-radius: 60px;
	display: inline-block;
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-200px;
	margin-top:-250px;
	background-color: rgb(255, 255, 230);
	z-index: 1;
}

#postNew.on #enterBody {
  	width: 300px;
  	height: 65px;
  	resize: none;
}

#newText {
	margin-bottom: 7px;
}

#newText, #recentText {
	font-family: 'Quicksand', sans-serif;
	font-size: 25px;
	color: #800028;
}

#postNew label {
	font-family: 'Jura', sans-serif;
	font-size: 18px;
}
/*end of new post modal*/

#recentDiv {
	margin-left: 120px;
}

#recentDiv li a:link, #userRecents li a:link {
	text-align: left;
	text-decoration: none;
	color: #800028;
	font-family: 'Quicksand', sans-serif;
}

#recentDiv li a:visited, #userRecents li a:visited {
	color: #660020;
	font-family: 'Quicksand', sans-serif;
}

#recentDiv li a:hover {
	text-decoration: underline;
	font-family: 'Quicksand', sans-serif;
}
/*end of home (when user IS logged in)*/

/*in profile page:*/
#profileDiv, #userRecents {
	float: left;
	margin-left: 160px;
}

#profileDiv {
	width: 300px;
	margin-top: 50px;
}

#userRecents {
	width: 350px;
	margin-top: 100px;
}

#profileUserText {
	color: #800028;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 30px;
}

#profileHometownText {
	font-family: 'Permanent Marker', cursive;
	font-size: 20px;
}

#profileBioText {
	font-family: 'Quicksand', sans-serif;
}
.bioForm {
	display: none;
}
.editFormLabel {
	font-family: 'Quicksand', sans-serif;
	display: none;
}

#profileUserText, #profileAv {
	display: inline-block;
}
/*end of profile page*/

/*in post page:*/
#postTitle {
	color: #800028;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 30px;
	margin-bottom: 0px;
}

#postBody {
	font-family: 'Quicksand', sans-serif;
	font-size: 22px;
	margin-top: 0px;
}

.backnext {
	text-decoration: none;
	margin: 5px 50px;
}

#commentText {
	font-family: 'Julius Sans One', sans-serif;
	color: #660020;
}

#commentUsername a:link, a:visited {
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
	color: #800000;
}

#commentUsername a:hover {
	text-decoration: underline;
	color: #330000;
	font-family: 'Quicksand', sans-serif;
}

#askComment {
	font-family: 'Permanent Marker', cursive;
	font-size: 22px;
}

#deleteComment a:link, #deleteComment a:visited, #editButton, #deleteButton a:link, #deleteButton a:visited {
	font-family: 'Amatic SC', cursive;
	text-decoration: none;
	color: #800000;
	font-size: 24px;
}

#deleteComment a:hover , #editButton:hover, #deleteButton a:hover {
	font-family: 'Amatic SC', cursive;
	text-decoration: underline;
	color: #330000;
	font-size: 26px;
}

.avImg {
	height: 60px;
	width: 60px;
}

#bodyDiv, #commentDiv {
	float: right;
}

#postImg {
	width: 390px;
	height: 390px;
	margin-left: 80px;
	float: left;
}

#commentDiv {
	width: 410px;
	text-align: center;
}

#bodyDiv {
	width: 450px;
	margin-bottom: 40px;
}

#postPic {
	width: 380px;
}

.editForm {
	display: none;
}

.editFormLabel {
	display: none;
}

#editButton, #deleteButton {
	display: inline-block;
	margin-bottom: 5px;
}
/*end of post page styling*/
/*spacer*/
#spacer{
	height: 100px;
	clear: both;
	background-color: rgba(255,255,255,0);
}
/*in footer:*/
footer .container {
	width: 100%;
	bottom: 0;
	position: fixed;
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
	border-top: 3px solid #808080;
	background-color: rgba(255, 230, 230, 0.3);
}

#copywrite {
	margin-top: 7px;
	margin-bottom: 7px;
}


/*end of footer